
body{
    display:flex;
    flex-direction: column;
    background-color:white;
    margin:0;
}
/* header -----------------------*/
.header{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}
h1{
    font-size: 24px;
    color:white;
}
.header button{
    background-color: rgb(50, 50, 238);
    width:100px;
    border-radius: 25px;
}

.top{
    display:flex;
    flex-direction: column;
    /* background-color:  */
    gap:20px;
    padding:10px;
    
    justify-content: space-between;
}


a , ul{
   display: flex;
   gap:10px;
    list-style: none;
    text-decoration: none;
    color:white;
 }
 .linksimg{
     display: flex;
     flex-direction: column;
     /* background-color: */
     gap:20px;
 }
 .linksimg img{
     background-color: grey;
     height:150px;
     margin:20px;
     border-style: solid;
     border-radius: 25px;
     border-color: #1F2937;
     
 }
 /* header finish*/
 /*middle content no 1*/

.content1{
    display:flex;
    flex-direction: column;
    background-color:white;
    align-items: center;
    padding:20px;
}
.boxes { 
    display:flex; 
    flex-direction: row; 
   
     gap:30px;
     
}
.image{
    padding:10px;
    display:flex;
    flex-direction: column;
    width:100px;
}
.boxes img{
    height:100px;
    border-style: solid;
    border-color:skyblue;
    border-radius: 25px;
}

/*middle content1 finish*/

/*middle content no 2------------*/

.quote{
    display:flex;
    flex-direction: column;
    background-color: grey;
    justify-content: center;
    align-items: center;
}
.quote div{
    margin-left:200px;
    margin-right:200px;
    padding:50px;
}
/* middle content no 2 finished----------*/

/*middle content no 3------------------*/
.actionbox
{
    display:flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-style: solid;
    border-radius: 25px;
   margin-left:140px;
   margin-right: 140px;
   margin-top: 70px;
   margin-bottom: 70px;
   padding-top:50px;
   padding-bottom: 50px;
   padding-left: 100px;
   padding-right: 100px;
}
/*middle content 3 finished--------------*/


.footer{

 display:flex;
 justify-content: center;
 align-items: center;
 padding-top:20px;
 padding-bottom: 20px;
 padding-left:150px;
 padding-right: 150px;
   background-color:#1F2937;
}